input,
textarea {
  border: none;
  font-family: 'Noto Sans JP', sans-serif;
  text-transform: capitalize;
  &:hover,
  &:focus {
    outline: none;
  }
}
textarea {
  resize: none;
}
label {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.75rem;
  position: absolute;
  bottom: 60px;
  left: 0;
}

.input-element {
  border: 1px solid #828282;
  box-sizing: border-box;
  padding: 1em;
  border-radius: 8px;
  width: fit-content;
  margin-top: 0.85em;
  padding-top: 4em;
  position: relative;
  font-family: 'Noto Sans JP', sans-serif;

  &:hover {
    border-color: #333333;
  }
  &:focus-within {
    border-color: #2962ff;
    color: #2962ff;
  }
}

.error {
  border-color: #d32f2f;
  color: #d32f2f;

  &:hover {
    border-color: #333333;
  }
  &:focus-within {
    border-color: #d32f2f;
    color: #d32f2f;
  }
  &:focus-within + label {
    color: #d32f2f;
  }
}

.disabled {
  border-color: #e0e0e0;
  background-color: #f2f2f2;
  &:hover,
  &:focus-within {
    border-color: #e0e0e0;
    background-color: #f2f2f2;
  }
  &input:disabled {
    outline: none;
    background-color: #f2f2f2;
  }
}
.helper-text {
  position: absolute;
  font-size: 0.515em;
  top: 51px;
  left: 0;
}
.md {
  padding: 1em;
}
.sm {
  padding: 0.5em;
}
.start_Icon,
.end-Icon {
  color: #828282;
  position: absolute;
  font-size: 20px;
}
.start_Icon {
  left: 8px;
  & ~ input {
    margin-left: 1.25em;
    margin-right: -1em;
  }
}
.end-Icon {
  right: 8px;
  color: #828282;
}
.fullWidth {
  width: 100%;
}
// Hover and Focus States
.active-error {
  color: #333333;
  border-color: #333333;
}
.hover-default {
  border-color: #333333;
}
.focus-default {
  color: #2962ff;
  border-color: #2962ff;
}
