* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  padding: 2em 5em;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  color: #4f4f4f;
}

.row {
  display: flex;
  margin-top: 3em;
  width: 70%;
  justify-content: space-between;
}

.wide-md {
  width: 52%;
}
.wide-md-plus {
  width: 70%;
}
.wide-lg {
  width: 100%;
}
.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.regular-text,
.grey-text {
  font-family: 'Ubuntu Mono', monospace;
  margin-bottom: 1em;
}
.grey-text {
  color: #828282;
}

.active-error {
  border-color: #333333;
  color: #333333;
}
